<p id="notice"><%= notice %></p>

<p>
  <strong> <%= @post.titulo %> </strong>
</p>

<p>
  <strong> <%= @post.conteudo %> </strong>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
